# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Conda environments
.env
.history
.venv
env/
venv/
wandb
ENV/
env.bak/
venv.bak/
*.conda

# PyTorch cache
__pycache__/
*.pt

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VS Code and PyCharm settings (if using)
.vscode/
.idea/

# PyTorch Geometric cache
data/processed/
data/raw/

# Ignore all data files and directories
data/
data_old/
# RDKit and other chemistry-related files (if applicable)
*.rdkit

# Log files
*.log

# Ignore Mac system files
.DS_Store

# Ignore backup or swap files
*~
*.swp

# Ignore generated documentation
/docs/_build/

# Ignore the environment file itself
lrgb/

